//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE  
	//======================
	@mixin borders_teste($cor:red, $thick:1px, $style:dotted)
	{
		border: $cor   $thick   $style;
	} 
	//======================
	@mixin vendorize($property, $value) 
	{     
	    -webkit-#{$property}: $value;
	    -moz-#{$property}: $value;
	    -ms-#{$property}: $value;
	    -o-#{$property}: $value;
	    #{$property}: $value; 
	}
	//======================
	@mixin flexbox( $direction: row,                            
                $align_main_axis: flex-end,                 
                $align_second_axis: center,               
                $expand_mode: 0,                            
                $wrap_mode: wrap,
                $align_second_axis_wrap_mode: flex-start,  
                $shrink_mode: 0                          
              ) 
	{ 
	    /*==========================================
	    IE10; FX18>=; CHROME 26>=; OPERA NEXT */
	   /*========================================== VARS DE: DIRECTION, ALIGN X, E ALIGN Y */
	   /*$direction: row;*/                  /*row;    column;     row-reverse;    column-reverse;*/
	                                     /*OLD PARA box: box-direction:  normal | reverse | inherit*/ 
	   /*$align_main_axis: flex-end;*/       /*flex-start     flex-end    center space-between       space-around*/  
	   /*$align_second_axis: flex-end;     /*flex-start     flex-end    center*/                       
	    
	    /*========================================== DISPLAY*/ 
	    display: -webkit-box;   
	    display: -moz-box;
	    display: -ms-flexbox;   
	    display: -webkit-flex;
	    display: flex;

	    /*========================================== FLEX-DIRECTION*/
	    $direction_old:  $direction;
	   /* $direction_old2: $direction;*/   /* DESACTIVADO: SÓ BROWSERS <= FIREFOX 17 SÃO AFECTADOS */
	    
	    @if $direction == row {   $direction_old: horizontal;

	    }@if $direction == column {  $direction_old: vertical;
	    }    
	    
	    -webkit-box-direction:  normal; /*$direction_old2;  */                      /*normal | reverse | inherit   */
	    -moz-box-direction:     normal; /*$direction_old2;  */ /* <=Fx17*/
	    -webkit-box-orient:     $direction_old;   
	    -moz-box-orient:        $direction_old; /*<=Fx17*/  /*horizontal|vertical|inline-axis|block-axis|inherit*/
	    
	    -ms-flex-direction:     $direction;

	    -webkit-flex-direction: $direction;      
	    flex-direction:         $direction;
	    
	    /*========================================== JUSTIFY-CONTENT main axis*/
	    /*flex-start    flex-end    center      space-between       space-around*/
	    /*OLD  box-pack: start|end|center|justify;*/
	    $align_main_axis_old: $align_main_axis;
	    
	    @if $align_main_axis == flex-end {   $align_main_axis_old: end;

	    }@if $align_main_axis == flex-start {  $align_main_axis_old: start;

	    }@if $align_main_axis == space-between {  $align_main_axis_old: justify;

	    }@if $align_main_axis == space-around {  $align_main_axis_old: justify; /* NÃO É POSSÍVEL SIMULAR EXACTA/ O space-around*/
	    }

	    -webkit-box-pack:           $align_main_axis_old;    
	    -moz-box-pack:              $align_main_axis_old;  

	    -ms-flex-pack:              $align_main_axis_old;

	    -webkit-justify-content:    $align_main_axis;    
	    justify-content:            $align_main_axis;
	    
	    /*==========================================  ALIGN-ITEMS  secondary axis*/
	    /*               flex-start     flex-end    center      stretch... */
	    /*OLD  box-pack: start          |end        |center     */   
	    $align_second_axis_old: $align_second_axis;
	    
	    @if $align_second_axis == flex-end {
	            $align_second_axis_old: end;

	    }@if $align_second_axis == flex-start {
	            $align_second_axis_old: start;
	    }

	    -webkit-box-align:   $align_second_axis_old;    
	    -moz-box-align:      $align_second_axis_old;        /*Fx16,17*/        
	    
	    -ms-flex-align:      $align_second_axis_old;        /*IE10*/
	    
	    -webkit-align-items: $align_second_axis;            /*Ch26,27>; Fx*/
	    align-items:         $align_second_axis;            /*Ch29>; Fx23>*/

	    /*========================================== FLEX-WRAP*/
	    -webkit-flex-wrap:  $wrap_mode;
	    -moz-flex-wrap:   $wrap_mode;    
	    -ms-flex-wrap:      $wrap_mode; 
	    flex-wrap:          $wrap_mode; 

	    
	    /*==========================================   ALIGN-CONTENT  */
	    //ÚTIL APENAS COM MULTILINE (QUANDO A PROP. flex-wrap: wrap);
	    //ALINHA OS ELEMENTOS NA CROSS/SECONDARY AXIS, 
	    -webkit-align-content:  $align_second_axis_wrap_mode;    
	    -ms-flex-line-pack:     $align_second_axis_wrap_mode;    
	    align-content:          $align_second_axis_wrap_mode; 
	    /**/  

	    /*==========================================  CHILDS  */
	    > *{
	                     /*GROW  SHRINK  BASIS*/
	        /*flex:         0       1   auto;*/
	            
	        /*=========================================*/
	       /* -webkit-box-ordinal-group: 0;
	        -moz-box-ordinal-group: 0;
	        -webkit-order: 0;
	        -ms-flex-order: 0;
	        order: 0;
	        */
	        -webkit-box-flex:   $expand_mode;
	        -moz-box-flex:      $expand_mode;
	        -webkit-flex:       $expand_mode $shrink_mode auto;
	        -ms-flex:           $expand_mode $shrink_mode auto;
	        flex:               $expand_mode $shrink_mode auto; 
	    }
	}
	//======================
	/* ALIGN FLEXBOX - SINGLE ITEM */
	//center | flex-start | flex-end | space-between | space-around | stretch 
	//$valor: center |  flex-start | ... »»» ESTÁ RELACIONADO COM O 2º AXIS
	//$expand_mode,  $shrink_mode        »»» ESTÁ RELACIONADO COM O 1º AXIS (ATRIBUIDO EM @mixin flexbox( $direction: row | column )
	@mixin flexbox_align_self($valor, $expand_mode: 0, $shrink_mode: 0)
	{
	    /* 
	     https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
	                        The align-self CSS property aligns flex items of the current 
	                        flex line overriding the align-items value. 
	                        If any of the flex item's cross-axis margin is set to auto, 
	                        then align-self is ignored.
	                        Fx: >=18.0 (18.0) (behind a pref) [1]; 20.0 (20.0)
	    */                    
	    /* auto | flex-start | flex-end | center | baseline | stretch*/
	    -webkit-align-self:     $valor;   /*Chrome 26; 27; Safari 6*/
	    -ms-flex-item-align:    $valor;
	    align-self:             $valor; 

	     -webkit-box-flex:   $expand_mode;
	     -moz-box-flex:      $expand_mode;
	     -webkit-flex:       $expand_mode $shrink_mode auto;
	     -ms-flex:           $expand_mode $shrink_mode auto;
	      flex:              $expand_mode $shrink_mode auto; 
	}
	//======================
//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE
//==================== jssor_container AUX. CODE  END! 

*{
	margin: 0;
	padding: 0;

	@include vendorize(box-sizing, border-box);	 	
}

body{		
	background-color: white;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;	
	font-weight: normal;
}

a {
	color: green;
}





$jssor_slider_imgs: '../imgs_jssor/'; 

//==================== jssor_container1
//==================== jssor_container1
//==================== jssor_container1
//==================== jssor_container1  
	
	//...... JSSOR INSERTS ANOTHER .jssor_container1
	//...... ATTR jssor-slider USED TO DISTINGUISH EACH ONE
	.jssor_container1[jssor-slider=true] {  
		
		@include borders_teste($cor:black, $thick:2px, $style:solid);
		margin: 20px 0 0 0;
		padding: 0;
	}	
	//......
	.jssor_container1 {
		//...... VARS
		$slider_imgs: $jssor_slider_imgs; //'../imgs_jssor/slider4/';  
		$arrow_left_img: $slider_imgs + 'prev.png';  //IMAGES IN ARROWS BUTTONS
		$arrow_right_img: $slider_imgs + 'next.png'; //IMAGES IN ARROWS BUTTONS

		//......
		$width_container: 1500px; 
		$height_container: 600px;
		$height_container_slides: 600px; 
		$cor_destaque: #4b585e;

		//@include borders_teste($cor:cyan, $thick:0px, $style:solid) 	 
		height: $height_container;  	//IMPORTANT  (px) 
		left: 0px; 
		max-width: $width_container; 	//IMPORTANT
		overflow: hidden;
		position: relative;  			//IMPORTANT
		top: 0px; 
		width: 100%;  					//IMPORTANT

		//...... SLIDES CONTAINER
		.jssor_slides {   
			//@include borders_teste($cor:white, $thick:0px, $style:dotted)
			cursor: pointer;  //hand; //move;    //pointer; //crosshair;
			height: $height_container_slides;  	//IMPORTANT
			left: 0px; 
			margin: 0 0 0 0;
			overflow: hidden; 					//IMPORTANT 
			position: absolute; 
			top: 0px; 
			max-width: $width_container;		//IMPORTANT
			width: 100%;  						//IMPORTANT  JS OPTIONS, $FillMode: 2 (cover) FOR IMAGES 100% WIDTH
		}
		
		//...... CONTENT HOLDER FOR SLIDER TEXT (NOT CAPTIONS)
		.content_slide {
			background-color: white;
			bottom: auto;
			color: #666;
			display: inline-block;
			font-size: 16px;
			height: 100px;
			padding: 20px;
			position: relative;
			text-align: center;
			top: 70%;
			width: 30%;
			
			left: 50%;
		    transform: translateX(-50%);
		}



		//==================== ARROWS
			//.jssora03l                 LEFT 
			//.jssora03r                 RIGHT 
			//.jssora03l:hover            
			//.jssora03r:hover            
			//.jssora03l.jssora03ldn      MOUSEDOWN
			//.jssora03r.jssora03rdn      MOUSEDOWN

			.jssora03l, 
			.jssora03r {
				//@include borders_teste($cor:yellow, $thick:1px, $style:dashed);
				background-color: white;
 				cursor: pointer;
			    height: 40px;
			    position: absolute;
 				margin: -20px 0 0 0;
				top: 50%; 
				width: 40px;
				@include vendorize(transition, 0.5s linear all); 
			}
			//......ARROW LEFT
			.jssora03l { 	
				//background: rgba(0,0,0,0.5) url($arrow_left_img) center center no-repeat;
				border-radius: 0 3px 3px 0;
				left: 0;
			}
			//......ARROW RIGHT
			.jssora03r { 
				//background: rgba(0,0,0,0.5)  url($arrow_right_img) center center no-repeat;
				border-radius: 3px 0 0 3px;
				right: 0;
			}
			//...... FOR ICON FONTS INSTEAD OF IMAGES (...DON'T USE THE background: ...)
			/**/
			.jssora03l:before,
			.jssora03r:before  { 
				//@include borders_teste($cor:green, $thick:0px, $style:dashed)
 				color: $cor_destaque;
				font-size: 32px; 					//IMPORTANT ICON FONT
				height: 100%; 			 			//IMPORTANT ICON FONT
				position: absolute;
				top: -2px;  						
				width: 100%;						//IMPORTANT ICON FONT
				
				//...... CENTER
					@include flexbox( $direction: column,                            
		                $align_main_axis: center,                 
		                $align_second_axis: center,               
		                $expand_mode: 0,                            
		                $wrap_mode: nowrap                          
		            );     
			}		
			//...... FOR ICON FONT 
			.jssora03l:before  { content: "\2039";  }	//cross  "\2716"; ...OR IMAGE IMG »»» url("../boot_caroucel/slideshow/arrows_next.png");	
			.jssora03r:before { content: '\203A'; }  	//'\203A' ARROW RIGHT;	
			/**/
			//...... MOUSE OVER
			.jssora03l:hover,
			.jssora03r:hover  { 
				background-color: black;
				color: white;
			}			
			
		




		//==================== BULLETS
			//FOR NUMBERED BULLETS: IN HTML, class="jssor_bullets", INCLUDE: <div data-u="numbertemplate"></div>
		    
		    //.jssorb03 div           (normal)
		    //.jssorb03 div:hover     
		    //.jssorb03 .av           (active)
		    //.jssorb03 .av:hover     
		    //.jssorb03 .dn           (mousedown)
		    //BULLETs HOLDER
		    //...... IMPORTANT: JS OPTION $AutoCenter: MUST BE 0, 
		    .jssorb03 {  
		    	//@include borders_teste($cor:green, $thick:1px, $style:dashed) 
		    	//background-color: yellow;
		        position: absolute;
		        bottom: 14px; 
		        //right: auto;
		        left: 50%;
		        transform: translateX(-50%); 

		        width: auto;

				//counter-reset: subsection;  //none|name number|initial|inherit; 
		        
		        @include flexbox( $direction: row,                            
	                $align_main_axis: center,                 
	                $align_second_axis: center,               
	                $expand_mode: 0,                            
	                $wrap_mode: no-wrap,
	                $align_second_axis_wrap_mode: flex-start,  
	                $shrink_mode: 0
                );        
		    }
		    //...... WITH CSS COUNTER (NEEDS .jssorb03 {counter-reset: subsection; ...})
				//    .jssorb03 .jssor_bullets:before {	
				//	    text-align: center;
				//	    font-size: 9px;
				//	    color: yellow;
					    
				//	    //...... CSS COUNTER (depends on counter-reset)
				//	    	counter-increment: subsection; //count-bullets; 
				//	    	content: counter(subsection , upper-roman);
			//	}
			//===============================
			//...... LISTs for BULLETS
				//INSERT 'LABEL' IN BULLETS,
				//COULD USE CSS COUNTER, BUT MORE OPTIONS WITH SASS LISTs;				
				//............... LISTs
			    	$list: a, b, c, d, e,  f, g, h, i, j; 
			    	$list_num: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10; 
			    	$list_num_rom: I, II, III, IV, V, VI, VII, VIII, IX, X; 
			    	$list_menu_style: Work 01, Work 02, About Us; 
					//@debug #{$list};
				//...... DEFINE LIST
					$qual_list: $list_num_rom; 
    			//......TESTS
					//@for $i from 1 through length($qual_list) 
					//{//	@debug "$list::: #{nth($qual_list, $i)}";  }
					
				//...... INSERT	 
					@for $i from 1 through length($qual_list) 
					{
						.jssorb03 div[data-class="data_bullets"]:nth-child(#{$i}):before 
						{ 
							content: '#{nth($qual_list, $i)}';
						}
					}
			
			//===============================
			 	//...... CHANGES IN jssor.slider.js   self.$Reset = function (length) {...
			    //...... PARAMETER $SpacingX: 0
		    	
		    //...... BULLETS, COMMON FEATURES
		    .jssorb03 .jssor_bullets, 
		    .jssorb03 .jssor_bullets:hover,  
		    .jssorb03 .av {
				//@include borders_teste($cor:black, $thick:2px, $style:dashed);
		        border-radius: 100%;
		        background-color: white; //$cor_destaque;
		        color: $cor_destaque;
		        cursor: pointer;
		        font-size: 15px;
		        height: 30px;
		        margin: 0 8px 0 0; 			 //IMPORTANT: WITHOUT CHANGES IN jssor.slider.js, OVERRIDEN BY OPTION $SpacingX: 0,  
		        padding: 0 6px 0 6px;
		        overflow: hidden;
 				width: 30px; 					//auto; 		

		        //position: relative; 		//OVERRIDE PELO JS... absolute
		        @include vendorize(transition, 0.2s linear all); 

		        @include flexbox( $direction: row,                            
	                $align_main_axis: center,                 
	                $align_second_axis: center,               
	                $expand_mode: 0,                            
	                $wrap_mode: no-wrap,
	                $align_second_axis_wrap_mode: flex-start,  
	                $shrink_mode: 0
                );        
		    }
		    //............. HOVER
		    .jssorb03 .jssor_bullets:hover { 
		        background-color: black;
		    }  
		    //...... ACTIVE BULLET
		    .jssorb03 .av,
		    .jssorb03 .av:hover {  						
		    	background-color: black;
		    	color: white;
		    }
		    //...... MOUSEDOWN
		    .jssorb03 .dn, 
		    .jssorb03 .dn:hover { 
		    	background-color: red; 
		    }
		    
		    //......	

		




		//==================== SLIDER-COUNTER
			//IMPORTANT: IN JS, OPTION countSlides: false, disables this slider counter
			.slider-counters {
				-moz-user-select: none;
				-ms-user-select: none; 
				background-color: white; 
				
				color: $cor_destaque;
				font-size: 12px;
				height: auto; 
				left: 50%; 
				transform: translateX(-50%);
				//margin: 0 0 0 -50px;
				padding: 8px;
				position: absolute; 
				text-align: center;
				top: 10px; 
				user-select: none; 
				width: auto; 
			}
		 
		




		//==================== PROGRESS BAR
			//IMPORTANT: IN JS, OPTION progressBar: false, disables this slider counter
			.progress_bar_slideshow	{
				background-color: $cor_destaque;  
				bottom: auto; 
				height: 10px; 
				left: 0px; 
				position: absolute; 
				z-index: 900; 
			}







		//==================== CAPTIONS 
			//IMPORTANT: CHANGED IN JS, IN PROP captions, MiceAux.caroucels.caroucel1.init({...})	
			.caption_holder { 
				//@include borders_teste($cor:cyan, $thick:4px, $style:solid);
				background-color: white;  //#e4e9eb;
				height: 60px;
				position: absolute; 
				top: 12%; 
				width: 50%; 
				left: 50%;
		        transform: translateX(-50%);
			//display: none;	
			}
			.caption_bg {
		        //@include borders_teste($cor:blue, $thick:2px, $style:solid);
		        height: auto;  
		        left: 0; 
		        padding: 0;
		        position: relative; 
		        top: 0; 
		        width: 100%;                                 
			}	
			.caption_content { 
				//@include borders_teste($cor:red, $thick:2px, $style:solid);
				color: #666; 
				font-size: 16px; 
				font-weight: bold; 
				height: auto; 
				left: 0; 
				line-height: 50px; 
				position: absolute; 
				text-align: center;
				top: 0; 
				width: 100%;
			}


			

	}
//==================== jssor_container1
//==================== jssor_container1
//==================== jssor_container1
//==================== jssor_container1 END!